.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    width: 800px;
    margin: 40px auto 20px auto;
    min-height: calc(100% - 150px);
    font-size: 20px;
    justify-content: center;
    
    .inside{
        display: grid;
        align-self: center;
        justify-self: center;
     
        .number{
            font-weight: 600;
        }
        div{
            grid-gap: 0px;
            .title1{
                font-size: 28px;
                margin-bottom: 10px;
            }
           
        }

    }
}
.mid-line {
    justify-content: center;
    align-items: center;
    display: flex;
    .line {
        height: 90%;
        background-color: var(--dark);
        width: 100%;
    }
}

.inputs {
    margin-bottom: 30px;
    justify-content: center;
    width: 275px;
    justify-self: center;

}

.comments{
    width: 400px;
}

.bottomAction{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}