.info-with-icon {
    display: grid;
    grid-template-columns: 0.1fr 2.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 17px;
    align-items: center;
}

.info.circle.icon {
    color: var(--orange);
    font-size: 30px;
}

.info{
    height: 60px;
    align-items: center;
    display: grid;
    &.circle.icon{
       
    }
    &.margin{
        margin-bottom: 20px;
    }
}

.inside{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-gap: 30px;
    border: 1px dashed black;
    width: 100%;
    height: 100%;
    padding:25px;
    &.list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}