.info-with-icon {
    display: grid;
    grid-template-columns: 0.1fr 2.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 17px;
    align-items: center;
}

.info.circle.icon {
     color: var(--orange);
    font-size: 30px;
}

.info{
 
    height: 60px;

    align-items: center;
    display: grid;
    &.circle.icon{
       
    }
}

.star {
    font-size: 3rem;
    color: var(--light)
  }
  .filled {
    color: var(--orange)
  }