p{
    font-size:17px;
}

span{
    font-weight: 600;
}

.additional-content{
    padding: 13px;
    border-left: 2px solid black;
   
    ngb-rating{
         text-align: center;
    }
}

.star {
    font-size: 3rem;
    color: var(--light)
  }
  .filled {
    color: var(--orange)
  }


  .ui.form textarea{
    border-color: var(--light-brown);
}

.second{
    margin-top:30px
}

.button-align {
    width: 200px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;}