.padding {
    padding: 15px 0;
}

.availability{
    height: 80px;
    border: 1px solid black;
    align-items: center;
    display: grid;
    padding: 0 15px;
    grid-template-columns: 0.1fr 2.2fr;
    .info.circle.icon {
        color: var(--orange);
        font-size: 30px;
        ~ div{
            font-size: 17px;
        }
    }

}