.single {
    height: 495px;
    width: 300px;
    background-color: var(--mid-orange);

    transition: 2s ease;
    margin:0 auto;
    .photoContainer{
        text-align: center;
        img {
            max-height: 300px;
        }
    }
   
    div {
        
    }
    .description{
        margin-left: 6px;
        margin-top: 7px;
        font-size: 18px;
        p{
            margin-bottom: 2px;
        }
        .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    }
    
    img:hover {
        cursor: pointer;
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        transition: 2s ease;
    }

    .bar{
        height: 33px;
        background-color: var(--white);
        margin-left: 0px;
        margin-top: 0px;
        border: 2px solid var(--light-brown);
        &.parent{
            display: grid;
            grid-template-columns: 0.4fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            align-items: center;

            :first-child{
                text-align: center;
            }
        }
        i{
            color:#fff47f;
            text-shadow: 2px 2px 2px #999999;
            font-size: 19px;
        }
        
    
        .title{
            font-weight: 600;
            font-size: 17px;
        }
        .options{
            text-align: right;
            margin-right: 7px;
        }
        label{
            margin-bottom:6px
        }
    }

    .content{
        padding: 10px;
        margin-left: 6px;
        margin-top: 7px;
        font-size: 18px;
    }

}
