.background {
    margin: 10px !important;
}

.background-black {
    background-color: var(--darkest);
    .inverted {
        background-color: var(--dark) !important;
        border-left: 1px solid rgba(255, 255, 255, 0.08);
        border-right: 1px solid rgba(255, 255, 255, 0.08);
    }
}

.active{
    background-color: var(--gray) !important;
    text-decoration: underline !important;
    border-top: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange);
}