.background-title{
    height: 120px; width: 100%; background-color:var(--mid-orange); position: absolute; top:85px; z-index: 1;
}
.content {
    width: 1127px;
    position: relative;z-index: 10;
    height: 700px;
    margin: auto;
    padding: 20px;
    border: 1px dashed black;
    margin-top:25px;
    p {
        margin-bottom: 20px;
        font-size: 44px;
    }
}
.valign {

    padding-bottom: 40px;
}