:root {
    --white: #fff;
    --black: #000;
    --light: #f9eddc;
    --lightest: #f9f5f0;
    --mid-orange: #deb887;
    --orange: #e9b372;
    --dark: #323432;
    --darkest: #2a2a2a;
    --almost-black:#1d1e1d;
    --light-brown: #6f6657;
    --yellow: #dfd7af85;
}
