.parent {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    height: calc(100% - 150px);
    .inside {
        display: grid;
        align-self: center;
        justify-self: center;
        grid-gap: 30px;
    }
}
.mid-line {
    justify-content: center;
    align-items: center;
    display: flex;
    .line {
        height: 90%;
        background-color: var(--dark);
        width: 100%;
    }
}

.info {
    width: 400px;
    font-size: 25px;
    line-height: 1.2;
}

.infoFull {
    width: auto;
}
