.single {
    height: 260px;
    width: 720px;
    background-color: var(--mid-orange);
    padding: 10px;
    transition: 2s ease;
    margin: 0 auto;
    &.twoColumnParent {
        display: grid;
        grid-template-columns: 1.2fr 2.5fr 1.2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }
    img {
        max-height: 80%;
        width: 160px;
        height: 300px;
    }
    div {
        margin-left: 6px;
        margin-top: 7px;
        font-size: 18px;
        max-height: 233px;
        p {
            margin-bottom: 0.6em;
        }
    }
    .bookCopyInfo{
        border-left: 2px solid black;
 
        padding-left: 10px;
    }
    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    img:hover {
        cursor: pointer;
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        transition: 2s ease;
    }
}
