.content {
    width: 1127px;
    background-color: burlywood;
    height: 800px;
    margin: auto;
    padding: 20px;
}
.valign {
    padding-top: 40px;
    padding-bottom: 40px;
}

p {
    margin-bottom: 20px;
    font-size: 44px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    height: calc(100% - 100px);
    .inside{
        display: grid;
        align-self: center;
        justify-self: center;
        grid-gap: 30px;
        div{
            grid-gap: 0px;
            .title1{
                font-size: 28px;
                margin-bottom: 10px;
            }
            span{
                font-size: 18px;
                line-height: 1.8;
            }
        }

    }
}
.mid-line {
    justify-content: center;
    align-items: center;
    display: flex;
    .line {
        height: 80%;
        background-color: var(--dark);
        width: 100%;
    }
}
