button{
    background-color: var(--light-brown)!important;
    color: var(--lightest)!important;
    i{
        margin-right: 5px;
    }
}

.full{
    width:100%;
}

.gray{
    background-color: var(--gray)!important;
}

.orange{
    background-color: var(--orange)!important;
}

.small{
    width: 49px;
    border-radius: 26px;
}